
<!DOCTYPE html>
<html>
  <head>
    <title>API Demos</title>
    <ul "style=list-style:none;">
      <li style="list-style-type: none;">
 <a href="/poem"> Poem API </li></a>
      <li style="list-style-type: none;">
	<a href="/advice"> Advice API </li></a>
    </ul>
    
  </head>
  <body>
    <h1> The Met API Demo </h1>
    <h1>{{_title}} </h1>
    

    <h4 style="font-weight: normal;"><i>Located at: {{_location}} </i> </h4>
        <h4 style="font-weight: normal;"><i>Artist: Vincent van Gogh </i> </h4>

   <img href={{_objectURL}} src={{thisImage}}> 
       <ul>
	 <li> Medium: {{_medium}}</li>
	 <li> Department: {{_department}} </li>
	</ul>
  </body>
</html>
