<!DOCTYPE html>
<html>
<head> <title>Occupation Table</title> </head>
<body>
  <!-- randomJob returned from randomJob() from app.py -->
    <h1>Random Job: {{ randomJob }} </h1>
  <h2><center>Occupation Table</center></h2>
  <!-- Creation of Table Styles -->
  <table align = "center", border="1", style="width:100%">
    <!-- Loop through whole dictionary -->
  
    <tr>
      <th> Occupations </th>
      <th> Percentage </th>
    </tr>
    <tr>
			     
      <!-- Creates | Job Title | percentage | in the table -->
        {% for key in jobs %}
      <td> {{key}} </td>
      <td> {{jobs[key]}} </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
